@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    458 Reuben Mokgosi Str<br />
    Nyakallong Allanridge<br />
    Free State Province <br />
    South Africa<br />
    9490 <br />

</address>

<address>
    <strong>Office:</strong>   <a href="mailto:relebohilebizar@gmail.com">info@mosalasecondaryschool.com</a><br />
  
</address>