@{
    ViewBag.Title = "Home Page";
}


    <h3>Mosala Secondary School</h3>
    <p><h5>

    is a state secondary school located at 458 Reuben Mokgosi Str, Nyakallong, Allanridge, 9490, Free State Province,
    South Africa. The school’s EMIS  <br />number is 442908234 and postal address is Private Bag X158, Allanridge, 9490
    <br />
    <br />
    At MOSALA SECONDARY SCHOOL we don't only talk quality education/academic excellence but we walk the talk
</h5>
       
    </p>
    <div class="row">
        <div class="col-md-12">

            <img src="~/Image/one.png" class="ImgScreen" />
        
        </div>
        <br />
        <div class="col-md-12">

            <img src="~/Image/two.png" class="ImgScreen" />
        </div>

    </div>


